@import url(https://fonts.googleapis.com/css?family=Kanit:200i,300,400|Open+Sans:300,400&display=swap&subset=thai);@import url(https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css);body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

