/* W3.CSS 4.13 June 2019 by Jan Egil and Borge Refsnes */
html {
    box-sizing: border-box
}
*,
*:before,
*:after {
    box-sizing: inherit
}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
    display: block
}
summary {
    display: list-item
}
audio,
canvas,
progress,
video {
    display: inline-block
}
progress {
    vertical-align: baseline
}
audio:not([controls]) {
    display: none;
    height: 0
}
[hidden],
template {
    display: none
}
a {
    background-color: transparent
}
a:active,
a:hover {
    outline-width: 0
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}
b,
strong {
    font-weight: bolder
}
dfn {
    font-style: italic
}
mark {
    background: #ff0;
    color: #000
}
small {
    font-size: 80%
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sub {
    bottom: -0.25em
}
sup {
    top: -0.5em
}
figure {
    margin: 1em 40px
}
img {
    border-style: none
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}
button,
input,
select,
textarea,
optgroup {
    font: inherit;
    margin: 0
}
optgroup {
    font-weight: bold
}
button,
input {
    overflow: visible
}
button,
select {
    text-transform: none
}
button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em
}
legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}
textarea {
    overflow: auto
}
[type=checkbox],
[type=radio] {
    padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}
[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}
/* End extract */
html,
body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5
}
html {
    overflow-x: hidden
}
h1 {
    font-size: 36px
}
h2 {
    font-size: 30px
}
h3 {
    font-size: 24px
}
h4 {
    font-size: 20px
}
h5 {
    font-size: 18px
}
h6 {
    font-size: 16px
}
.modn-serif {
    font-family: serif
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0
}
.modn-wide {
    letter-spacing: 4px
}
hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0
}
.modn-image {
    max-width: 100%;
    height: auto
}
img {
    vertical-align: middle
}
a {
    color: inherit
}
.modn-table,
.modn-table-all {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table
}
.modn-table-all {
    border: 1px solid #ccc
}
.modn-bordered tr,
.modn-table-all tr {
    border-bottom: 1px solid #ddd
}
.modn-striped tbody tr:nth-child(even) {
    background-color: #f1f1f1
}
.modn-table-all tr:nth-child(odd) {
    background-color: #fff
}
.modn-table-all tr:nth-child(even) {
    background-color: #f1f1f1
}
.modn-hoverable tbody tr:hover,
.modn-ul.modn-hoverable li:hover {
    background-color: #ccc
}
.modn-centered tr th,
.modn-centered tr td {
    text-align: center
}
.modn-table td,
.modn-table th,
.modn-table-all td,
.modn-table-all th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top
}
.modn-table th:first-child,
.modn-table td:first-child,
.modn-table-all th:first-child,
.modn-table-all td:first-child {
    padding-left: 16px
}
.modn-btn,
.modn-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}
.modn-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.modn-btn,
.modn-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.modn-disabled,
.modn-btn:disabled,
.modn-button:disabled {
    cursor: not-allowed;
    opacity: 0.3
}
.modn-disabled *,
:disabled * {
    pointer-events: none
}
.modn-btn.modn-disabled:hover,
.modn-btn:disabled:hover {
    box-shadow: none
}
.modn-badge,
.modn-tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center
}
.modn-badge {
    border-radius: 50%
}
.modn-ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}
.modn-ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd
}
.modn-ul li:last-child {
    border-bottom: none
}
.modn-tooltip,
.modn-display-container {
    position: relative
}
.modn-tooltip .modn-text {
    display: none
}
.modn-tooltip:hover .modn-text {
    display: inline-block
}
.modn-ripple:active {
    opacity: 0.5
}
.modn-ripple {
    transition: opacity 0s
}
.modn-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%
}
.modn-select {
    padding: 9px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc
}
.modn-dropdown-click,
.modn-dropdown-hover {
    position: relative;
    display: inline-block;
    cursor: pointer
}
.modn-dropdown-hover:hover .modn-dropdown-content {
    display: block
}
.modn-dropdown-hover:first-child,
.modn-dropdown-click:hover {
    background-color: #ccc;
    color: #000
}
.modn-dropdown-hover:hover > .modn-button:first-child,
.modn-dropdown-click:hover > .modn-button:first-child {
    background-color: #ccc;
    color: #000
}
.modn-dropdown-content {
    cursor: auto;
    color: #000;
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 160px;
    margin: 0;
    padding: 0;
    z-index: 1
}
.modn-check,
.modn-radio {
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px
}
.modn-sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto
}
.modn-bar-block .modn-dropdown-hover,
.modn-bar-block .modn-dropdown-click {
    width: 100%
}
.modn-bar-block .modn-dropdown-hover .modn-dropdown-content,
.modn-bar-block .modn-dropdown-click .modn-dropdown-content {
    min-width: 100%
}
.modn-bar-block .modn-dropdown-hover .modn-button,
.modn-bar-block .modn-dropdown-click .modn-button {
    width: 100%;
    text-align: left;
    padding: 8px 16px
}
.modn-main,
#main {
    transition: margin-left .4s
}
.modn-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}
.modn-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px
}
.modn-bar {
    width: 100%;
    overflow: hidden
}
.modn-center .modn-bar {
    display: inline-block;
    width: auto
}
.modn-bar .modn-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}
.modn-bar .modn-dropdown-hover,
.modn-bar .modn-dropdown-click {
    position: static;
    float: left
}
.modn-bar .modn-button {
    white-space: normal
}
.modn-bar-block .modn-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}
.modn-bar-block.modn-center .modn-bar-item {
    text-align: center
}
.modn-block {
    display: block;
    width: 100%
}
.modn-responsive {
    display: block;
    overflow-x: auto
}
.modn-container:after,
.modn-container:before,
.modn-panel:after,
.modn-panel:before,
.modn-row:after,
.modn-row:before,
.modn-row-padding:after,
.modn-row-padding:before,
.modn-cell-row:before,
.modn-cell-row:after,
.modn-clear:after,
.modn-clear:before,
.modn-bar:before,
.modn-bar:after {
    content: "";
    display: table;
    clear: both
}
.modn-col,
.modn-half,
.modn-third,
.modn-twothird,
.modn-threequarter,
.modn-quarter {
    float: left;
    width: 100%
}
.modn-col.s1 {
    width: 8.33333%
}
.modn-col.s2 {
    width: 16.66666%
}
.modn-col.s3 {
    width: 24.99999%
}
.modn-col.s4 {
    width: 33.33333%
}
.modn-col.s5 {
    width: 41.66666%
}
.modn-col.s6 {
    width: 49.99999%
}
.modn-col.s7 {
    width: 58.33333%
}
.modn-col.s8 {
    width: 66.66666%
}
.modn-col.s9 {
    width: 74.99999%
}
.modn-col.s10 {
    width: 83.33333%
}
.modn-col.s11 {
    width: 91.66666%
}
.modn-col.s12 {
    width: 99.99999%
}
@media (min-width:601px) {
    .modn-col.m1 {
        width: 8.33333%
    }
    .modn-col.m2 {
        width: 16.66666%
    }
    .modn-col.m3,
    .modn-quarter {
        width: 24.99999%
    }
    .modn-col.m4,
    .modn-third {
        width: 33.33333%
    }
    .modn-col.m5 {
        width: 41.66666%
    }
    .modn-col.m6,
    .modn-half {
        width: 49.99999%
    }
    .modn-col.m7 {
        width: 58.33333%
    }
    .modn-col.m8,
    .modn-twothird {
        width: 66.66666%
    }
    .modn-col.m9,
    .modn-threequarter {
        width: 74.99999%
    }
    .modn-col.m10 {
        width: 83.33333%
    }
    .modn-col.m11 {
        width: 91.66666%
    }
    .modn-col.m12 {
        width: 99.99999%
    }
}
@media (min-width:993px) {
    .modn-col.l1 {
        width: 8.33333%
    }
    .modn-col.l2 {
        width: 16.66666%
    }
    .modn-col.l3 {
        width: 24.99999%
    }
    .modn-col.l4 {
        width: 33.33333%
    }
    .modn-col.l5 {
        width: 41.66666%
    }
    .modn-col.l6 {
        width: 49.99999%
    }
    .modn-col.l7 {
        width: 58.33333%
    }
    .modn-col.l8 {
        width: 66.66666%
    }
    .modn-col.l9 {
        width: 74.99999%
    }
    .modn-col.l10 {
        width: 83.33333%
    }
    .modn-col.l11 {
        width: 91.66666%
    }
    .modn-col.l12 {
        width: 99.99999%
    }
}
.modn-rest {
    overflow: hidden
}
.modn-stretch {
    margin-left: -16px;
    margin-right: -16px
}
.modn-content,
.modn-auto {
    margin-left: auto;
    margin-right: auto
}
.modn-content {
    max-width: 980px
}
.modn-auto {
    max-width: 1140px
}
.modn-cell-row {
    display: table;
    width: 100%
}
.modn-cell {
    display: table-cell
}
.modn-cell-top {
    vertical-align: top
}
.modn-cell-middle {
    vertical-align: middle
}
.modn-cell-bottom {
    vertical-align: bottom
}
.modn-hide {
    display: none!important
}
.modn-show-block,
.modn-show {
    display: block!important
}
.modn-show-inline-block {
    display: inline-block!important
}
@media (max-width:1205px) {
    .modn-auto {
        max-width: 95%
    }
}
@media (max-width:600px) {
    .modn-modal-content {
        margin: 0 10px;
        width: auto!important
    }
    .modn-modal {
        padding-top: 30px
    }
    .modn-dropdown-hover.modn-mobile .modn-dropdown-content,
    .modn-dropdown-click.modn-mobile .modn-dropdown-content {
        position: relative
    }
    .modn-hide-small {
        display: none!important
    }
    .modn-mobile {
        display: block;
        width: 100%!important
    }
    .modn-bar-item.modn-mobile,
    .modn-dropdown-hover.modn-mobile,
    .modn-dropdown-click.modn-mobile {
        text-align: center
    }
    .modn-dropdown-hover.modn-mobile,
    .modn-dropdown-hover.modn-mobile .modn-btn,
    .modn-dropdown-hover.modn-mobile .modn-button,
    .modn-dropdown-click.modn-mobile,
    .modn-dropdown-click.modn-mobile .modn-btn,
    .modn-dropdown-click.modn-mobile .modn-button {
        width: 100%
    }
}
@media (max-width:768px) {
    .modn-modal-content {
        width: 500px
    }
    .modn-modal {
        padding-top: 50px
    }
}
@media (min-width:993px) {
    .modn-modal-content {
        width: 900px
    }
    .modn-hide-large {
        display: none!important
    }
    .modn-sidebar.modn-collapse {
        display: block!important
    }
}
@media (max-width:992px) and (min-width:601px) {
    .modn-hide-medium {
        display: none!important
    }
}
@media (max-width:992px) {
    .modn-sidebar.modn-collapse {
        display: none
    }
    .modn-main {
        margin-left: 0!important;
        margin-right: 0!important
    }
    .modn-auto {
        max-width: 100%
    }
}
.modn-top,
.modn-bottom {
    position: fixed;
    width: 100%;
    z-index: 1
}
.modn-top {
    top: 0
}
.modn-bottom {
    bottom: 0
}
.modn-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2
}
.modn-display-topleft {
    position: absolute;
    left: 0;
    top: 0
}
.modn-display-topright {
    position: absolute;
    right: 0;
    top: 0
}
.modn-display-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0
}
.modn-display-bottomright {
    position: absolute;
    right: 0;
    bottom: 0
}
.modn-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
.modn-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%)
}
.modn-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%)
}
.modn-display-topmiddle {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%)
}
.modn-display-bottommiddle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%)
}
.modn-display-container:hover .modn-display-hover {
    display: block
}
.modn-display-container:hover span.modn-display-hover {
    display: inline-block
}
.modn-display-hover {
    display: none
}
.modn-display-position {
    position: absolute
}
.modn-circle {
    border-radius: 50%
}
.modn-round-small {
    border-radius: 2px
}
.modn-round,
.modn-round-medium {
    border-radius: 4px
}
.modn-round-large {
    border-radius: 8px
}
.modn-round-xlarge {
    border-radius: 16px
}
.modn-round-xxlarge {
    border-radius: 32px
}
.modn-row-padding,
.modn-row-padding > .modn-half,
.modn-row-padding > .modn-third,
.modn-row-padding > .modn-twothird,
.modn-row-padding > .modn-threequarter,
.modn-row-padding > .modn-quarter,
.modn-row-padding > .modn-col {
    padding: 0 8px
}
.modn-container,
.modn-panel {
    padding: 0.01em 16px
}
.modn-panel {
    margin-top: 16px;
    margin-bottom: 16px
}
.modn-code,
.modn-codespan {
    font-family: Consolas, "courier new";
    font-size: 16px
}
.modn-code {
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #4CAF50;
    word-wrap: break-word
}
.modn-codespan {
    color: crimson;
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 110%
}
.modn-card,
.modn-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}
.modn-card-4,
.modn-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}
.modn-spin {
    animation: modn-spin 2s infinite linear
}
@keyframes modn-spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(359deg)
    }
}
.modn-animate-fading {
    animation: fading 10s infinite
}
@keyframes fading {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
.modn-animate-opacity {
    animation: opac 0.8s
}
@keyframes opac {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
.modn-animate-top {
    position: relative;
    animation: animatetop 0.4s
}
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}
.modn-animate-left {
    position: relative;
    animation: animateleft 0.4s
}
@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}
.modn-animate-right {
    position: relative;
    animation: animateright 0.4s
}
@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 1
    }
}
.modn-animate-bottom {
    position: relative;
    animation: animatebottom 0.4s
}
@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}
.modn-animate-zoom {
    animation: animatezoom 0.6s
}
@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}
.modn-animate-input {
    transition: width 0.4s ease-in-out
}
.modn-animate-input:focus {
    width: 100%!important
}
.modn-opacity,
.modn-hover-opacity:hover {
    opacity: 0.60
}
.modn-opacity-off,
.modn-hover-opacity-off:hover {
    opacity: 1
}
.modn-opacity-max {
    opacity: 0.25
}
.modn-opacity-min {
    opacity: 0.75
}
.modn-greyscale-max,
.modn-grayscale-max,
.modn-hover-greyscale:hover,
.modn-hover-grayscale:hover {
    filter: grayscale(100%)
}
.modn-greyscale,
.modn-grayscale {
    filter: grayscale(75%)
}
.modn-greyscale-min,
.modn-grayscale-min {
    filter: grayscale(50%)
}
.modn-sepia {
    filter: sepia(75%)
}
.modn-sepia-max,
.modn-hover-sepia:hover {
    filter: sepia(100%)
}
.modn-sepia-min {
    filter: sepia(50%)
}
.modn-tiny {
    font-size: 10px!important
}
.modn-small {
    font-size: 12px!important
}
.modn-medium {
    font-size: 15px!important
}
.modn-large {
    font-size: 18px!important
}
.modn-xlarge {
    font-size: 24px!important
}
.modn-xxlarge {
    font-size: 36px!important
}
.modn-xxxlarge {
    font-size: 48px!important
}
.modn-jumbo {
    font-size: 64px!important
}
.modn-left-align {
    text-align: left!important
}
.modn-right-align {
    text-align: right!important
}
.modn-justify {
    text-align: justify!important
}
.modn-center {
    text-align: center!important
}
.modn-border-0 {
    border: 0!important
}
.modn-border {
    border: 1px solid #ccc!important
}
.modn-border-top {
    border-top: 1px solid #ccc!important
}
.modn-border-bottom {
    border-bottom: 1px solid #ccc!important
}
.modn-border-left {
    border-left: 1px solid #ccc!important
}
.modn-border-right {
    border-right: 1px solid #ccc!important
}
.modn-topbar {
    border-top: 6px solid #ccc!important
}
.modn-bottombar {
    border-bottom: 6px solid #ccc!important
}
.modn-leftbar {
    border-left: 6px solid #ccc!important
}
.modn-rightbar {
    border-right: 6px solid #ccc!important
}
.modn-section,
.modn-code {
    margin-top: 16px!important;
    margin-bottom: 16px!important
}
.modn-margin {
    margin: 16px!important
}
.modn-margin-top {
    margin-top: 16px!important
}
.modn-margin-bottom {
    margin-bottom: 16px!important
}
.modn-margin-left {
    margin-left: 16px!important
}
.modn-margin-right {
    margin-right: 16px!important
}
.modn-padding-small {
    padding: 4px 8px!important
}
.modn-padding {
    padding: 8px 16px!important
}
.modn-padding-large {
    padding: 12px 24px!important
}
.modn-padding-16 {
    padding-top: 16px!important;
    padding-bottom: 16px!important
}
.modn-padding-24 {
    padding-top: 24px!important;
    padding-bottom: 24px!important
}
.modn-padding-32 {
    padding-top: 32px!important;
    padding-bottom: 32px!important
}
.modn-padding-48 {
    padding-top: 48px!important;
    padding-bottom: 48px!important
}
.modn-padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important
}
.modn-left {
    float: left!important
}
.modn-right {
    float: right!important
}
.modn-button:hover {
    color: #000!important;
    background-color: #ccc!important
}
.modn-transparent,
.modn-hover-none:hover {
    background-color: transparent!important
}
.modn-hover-none:hover {
    box-shadow: none!important
}
/* Colors */
.modn-amber,
.modn-hover-amber:hover {
    color: #000!important;
    background-color: #ffc107!important
}
.modn-aqua,
.modn-hover-aqua:hover {
    color: #000!important;
    background-color: #00ffff!important
}
.modn-blue,
.modn-hover-blue:hover {
    color: #fff!important;
    background-color: #2196F3!important
}
.modn-light-blue,
.modn-hover-light-blue:hover {
    color: #000!important;
    background-color: #87CEEB!important
}
.modn-brown,
.modn-hover-brown:hover {
    color: #fff!important;
    background-color: #795548!important
}
.modn-cyan,
.modn-hover-cyan:hover {
    color: #000!important;
    background-color: #00bcd4!important
}
.modn-blue-grey,
.modn-hover-blue-grey:hover,
.modn-blue-gray,
.modn-hover-blue-gray:hover {
    color: #fff!important;
    background-color: #607d8b!important
}
.modn-green,
.modn-hover-green:hover {
    color: #fff!important;
    background-color: #4CAF50!important
}
.modn-light-green,
.modn-hover-light-green:hover {
    color: #000!important;
    background-color: #8bc34a!important
}
.modn-indigo,
.modn-hover-indigo:hover {
    color: #fff!important;
    background-color: #3f51b5!important
}
.modn-khaki,
.modn-hover-khaki:hover {
    color: #000!important;
    background-color: #f0e68c!important
}
.modn-lime,
.modn-hover-lime:hover {
    color: #000!important;
    background-color: #cddc39!important
}
.modn-orange,
.modn-hover-orange:hover {
    color: #000!important;
    background-color: #ff9800!important
}
.modn-deep-orange,
.modn-hover-deep-orange:hover {
    color: #fff!important;
    background-color: #ff5722!important
}
.modn-pink,
.modn-hover-pink:hover {
    color: #fff!important;
    background-color: #e91e63!important
}
.modn-purple,
.modn-hover-purple:hover {
    color: #fff!important;
    background-color: #9c27b0!important
}
.modn-deep-purple,
.modn-hover-deep-purple:hover {
    color: #fff!important;
    background-color: #673ab7!important
}
.modn-red,
.modn-hover-red:hover {
    color: #fff!important;
    background-color: #f44336!important
}
.modn-sand,
.modn-hover-sand:hover {
    color: #000!important;
    background-color: #fdf5e6!important
}
.modn-teal,
.modn-hover-teal:hover {
    color: #fff!important;
    background-color: #009688!important
}
.modn-yellow,
.modn-hover-yellow:hover {
    color: #000!important;
    background-color: #ffeb3b!important
}
.modn-white,
.modn-hover-white:hover {
    color: #000!important;
    background-color: #fff!important
}
.modn-black,
.modn-hover-black:hover {
    color: #fff!important;
    background-color: #000!important
}
.modn-grey,
.modn-hover-grey:hover,
.modn-gray,
.modn-hover-gray:hover {
    color: #000!important;
    background-color: #9e9e9e!important
}
.modn-light-grey,
.modn-hover-light-grey:hover,
.modn-light-gray,
.modn-hover-light-gray:hover {
    color: #000!important;
    background-color: #f1f1f1!important
}
.modn-dark-grey,
.modn-hover-dark-grey:hover,
.modn-dark-gray,
.modn-hover-dark-gray:hover {
    color: #fff!important;
    background-color: #616161!important
}
.modn-pale-red,
.modn-hover-pale-red:hover {
    color: #000!important;
    background-color: #ffdddd!important
}
.modn-pale-green,
.modn-hover-pale-green:hover {
    color: #000!important;
    background-color: #ddffdd!important
}
.modn-pale-yellow,
.modn-hover-pale-yellow:hover {
    color: #000!important;
    background-color: #ffffcc!important
}
.modn-pale-blue,
.modn-hover-pale-blue:hover {
    color: #000!important;
    background-color: #ddffff!important
}
.modn-text-amber,
.modn-hover-text-amber:hover {
    color: #ffc107!important
}
.modn-text-aqua,
.modn-hover-text-aqua:hover {
    color: #00ffff!important
}
.modn-text-blue,
.modn-hover-text-blue:hover {
    color: #2196F3!important
}
.modn-text-light-blue,
.modn-hover-text-light-blue:hover {
    color: #87CEEB!important
}
.modn-text-brown,
.modn-hover-text-brown:hover {
    color: #795548!important
}
.modn-text-cyan,
.modn-hover-text-cyan:hover {
    color: #00bcd4!important
}
.modn-text-blue-grey,
.modn-hover-text-blue-grey:hover,
.modn-text-blue-gray,
.modn-hover-text-blue-gray:hover {
    color: #607d8b!important
}
.modn-text-green,
.modn-hover-text-green:hover {
    color: #4CAF50!important
}
.modn-text-light-green,
.modn-hover-text-light-green:hover {
    color: #8bc34a!important
}
.modn-text-indigo,
.modn-hover-text-indigo:hover {
    color: #3f51b5!important
}
.modn-text-khaki,
.modn-hover-text-khaki:hover {
    color: #b4aa50!important
}
.modn-text-lime,
.modn-hover-text-lime:hover {
    color: #cddc39!important
}
.modn-text-orange,
.modn-hover-text-orange:hover {
    color: #ff9800!important
}
.modn-text-deep-orange,
.modn-hover-text-deep-orange:hover {
    color: #ff5722!important
}
.modn-text-pink,
.modn-hover-text-pink:hover {
    color: #e91e63!important
}
.modn-text-purple,
.modn-hover-text-purple:hover {
    color: #9c27b0!important
}
.modn-text-deep-purple,
.modn-hover-text-deep-purple:hover {
    color: #673ab7!important
}
.modn-text-red,
.modn-hover-text-red:hover {
    color: #f44336!important
}
.modn-text-sand,
.modn-hover-text-sand:hover {
    color: #fdf5e6!important
}
.modn-text-teal,
.modn-hover-text-teal:hover {
    color: #009688!important
}
.modn-text-yellow,
.modn-hover-text-yellow:hover {
    color: #d2be0e!important
}
.modn-text-white,
.modn-hover-text-white:hover {
    color: #fff!important
}
.modn-text-black,
.modn-hover-text-black:hover {
    color: #000!important
}
.modn-text-grey,
.modn-hover-text-grey:hover,
.modn-text-gray,
.modn-hover-text-gray:hover {
    color: #757575!important
}
.modn-text-light-grey,
.modn-hover-text-light-grey:hover,
.modn-text-light-gray,
.modn-hover-text-light-gray:hover {
    color: #f1f1f1!important
}
.modn-text-dark-grey,
.modn-hover-text-dark-grey:hover,
.modn-text-dark-gray,
.modn-hover-text-dark-gray:hover {
    color: #3a3a3a!important
}
.modn-border-amber,
.modn-hover-border-amber:hover {
    border-color: #ffc107!important
}
.modn-border-aqua,
.modn-hover-border-aqua:hover {
    border-color: #00ffff!important
}
.modn-border-blue,
.modn-hover-border-blue:hover {
    border-color: #2196F3!important
}
.modn-border-light-blue,
.modn-hover-border-light-blue:hover {
    border-color: #87CEEB!important
}
.modn-border-brown,
.modn-hover-border-brown:hover {
    border-color: #795548!important
}
.modn-border-cyan,
.modn-hover-border-cyan:hover {
    border-color: #00bcd4!important
}
.modn-border-blue-grey,
.modn-hover-border-blue-grey:hover,
.modn-border-blue-gray,
.modn-hover-border-blue-gray:hover {
    border-color: #607d8b!important
}
.modn-border-green,
.modn-hover-border-green:hover {
    border-color: #4CAF50!important
}
.modn-border-light-green,
.modn-hover-border-light-green:hover {
    border-color: #8bc34a!important
}
.modn-border-indigo,
.modn-hover-border-indigo:hover {
    border-color: #3f51b5!important
}
.modn-border-khaki,
.modn-hover-border-khaki:hover {
    border-color: #f0e68c!important
}
.modn-border-lime,
.modn-hover-border-lime:hover {
    border-color: #cddc39!important
}
.modn-border-orange,
.modn-hover-border-orange:hover {
    border-color: #ff9800!important
}
.modn-border-deep-orange,
.modn-hover-border-deep-orange:hover {
    border-color: #ff5722!important
}
.modn-border-pink,
.modn-hover-border-pink:hover {
    border-color: #e91e63!important
}
.modn-border-purple,
.modn-hover-border-purple:hover {
    border-color: #9c27b0!important
}
.modn-border-deep-purple,
.modn-hover-border-deep-purple:hover {
    border-color: #673ab7!important
}
.modn-border-red,
.modn-hover-border-red:hover {
    border-color: #f44336!important
}
.modn-border-sand,
.modn-hover-border-sand:hover {
    border-color: #fdf5e6!important
}
.modn-border-teal,
.modn-hover-border-teal:hover {
    border-color: #009688!important
}
.modn-border-yellow,
.modn-hover-border-yellow:hover {
    border-color: #ffeb3b!important
}
.modn-border-white,
.modn-hover-border-white:hover {
    border-color: #fff!important
}
.modn-border-black,
.modn-hover-border-black:hover {
    border-color: #000!important
}
.modn-border-grey,
.modn-hover-border-grey:hover,
.modn-border-gray,
.modn-hover-border-gray:hover {
    border-color: #9e9e9e!important
}
.modn-border-light-grey,
.modn-hover-border-light-grey:hover,
.modn-border-light-gray,
.modn-hover-border-light-gray:hover {
    border-color: #f1f1f1!important
}
.modn-border-dark-grey,
.modn-hover-border-dark-grey:hover,
.modn-border-dark-gray,
.modn-hover-border-dark-gray:hover {
    border-color: #616161!important
}
.modn-border-pale-red,
.modn-hover-border-pale-red:hover {
    border-color: #ffe7e7!important
}
.modn-border-pale-green,
.modn-hover-border-pale-green:hover {
    border-color: #e7ffe7!important
}
.modn-border-pale-yellow,
.modn-hover-border-pale-yellow:hover {
    border-color: #ffffcc!important
}
.modn-border-pale-blue,
.modn-hover-border-pale-blue:hover {
    border-color: #e7ffff!important
}
